{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 140,
  "quoteProps": "consistent",
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
